*::after,
*::before,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-family: 'Kumbh Sans', sans-serif;  
  color: white;
  background-color: black;
}

/* Estilos para el footer */
.attribution {
	background-color: #f8f8f8;
	padding: 20px;
	text-align: center;
	font-size: 14px;
  margin-top: 30px;
  }
  
  .attribution a {
	color: #333;
	text-decoration: none;
  }
  
  .attribution a:hover {
	text-decoration: underline;
  }
  
  .attribution p {
	margin-bottom: 10px;
  }
  
  .attribution strong {
	font-weight: bold;
  }
  
  .attribution .group-info {
	font-style: italic;
  }

.navbar-logo {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo:hover {
  cursor: pointer;
  border: 2px solid goldenrod;
  border-radius: 5%;
}

.nav-link:hover {
  border-bottom: 4px solid goldenrod;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 68px;
  padding: 30px 0 40px 0;
}

.container-fluid {
  background-color: white;
}

body {
  margin: 0 auto;
  max-width: 100%;
  font-family: 'Lato';
  color: #333;
}

@media (min-width: 992px) {
  header {
    text-align: center;
  }
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilos para el carrito de compras */
  .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cart-item .item-details {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .cart-item .item-details p {
    margin: 0;
  }
  
  .cart-item .item-actions {
    display: flex;
    align-items: center;
  }
  
  .cart-item .item-actions button {
    margin-left: 5px;
  }