/* Estilos para el Logo */
.navbar-logo {
    width: 80px;
    height: 80px;
    display: flex;
  }
  
  .navbar-logo:hover {
    cursor: pointer;
    border: 2px solid purple;
    border-radius: 5%;
  }

 /* Estilos para el título "Hombres" */
#h1-hombres,
#h1-mujeres,
#h1-niños {
  margin: 80px;
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Estilos para las imágenes */
#img-hombres,
#img-mujeres,
#img-niños {
  border-radius: 50%;
  width: 200px; /* Ajusta el tamaño según tus necesidades */
  height: 200px; /* Ajusta el tamaño según tus necesidades */
  object-fit: cover; /* Evita que la imagen se distorsione */
  object-position: center; /* Centra la imagen */
}
  
  /* Estilos para los nav-items */
  .navbar-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-link {
    color: #000;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-link:hover {
    border-bottom: 4px solid purple;
  }
  
  /* Estilos para el Header */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 40px 10px;
    background-color: aliceblue;
  }
  
  .header_cart-avatar {
    display: none;
    align-items: center;
    width: 90px;
    padding-right: 40px;
    justify-content: space-between;
  }
  
  .header_cart {
    position: relative;
  }
  
  .header_cart--notification {
    display: none;
    width: 15px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -5px;
    font-size: 0.6em;
    text-align: center;
  }
  
  .header_cart--notification:hover {
    cursor: pointer;
  }
  
  .header_icart {
    width: 40px;
    height: 40px;
    justify-content: space-between;
    display: flex;
  }
  
  .header_icart:hover {
    cursor: pointer;
  }
  
  .header_avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
  }
  
  .header_avatar:hover {
    cursor: pointer;
    border: 2px solid red;
    border-radius: 50%;
  }
  
  /* Estilos para la atribución */
  .attribution {
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
  }
  
  .attribution a {
    text-decoration: none;
    color: white;
  }
  
  .attribution p {
    color: white;
  }
  
  /* Estilos responsivos */
  @media only screen and (max-width: 768px) {
    .navbar-logo {
      width: 60px;
      height: 60px;
    }
  
    .header_cart-avatar {
      display: flex;
      width: auto;
      padding-right: 20px;
    }
  
    .header_avatar {
      height: 30px;
      width: 30px;
    }
  }

  .container-fluid{
    background-color: aliceblue;
  }
  