#body-inicio{
    background-image: url("/images/wallpaper1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#explora{
    text-align: center;
    font-size: 3em;
    font-family: sans-serif;
    color: #000;
    margin-top: 100px;
}