.title{
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-family: 'Kumbh Sans', sans-serif;  
  color: white;
  background-color: black;
}

.header_cart-avatar{
  /*Esta en none para que desaparezca cuando el cliente aun no se registra o entra en su cuenta*/
 align-items: center;
 width: 90px;
 padding-right: 40px;
 justify-content: space-between;
}
.header_cart{
 position:relative;
}
.header_cart--notification{
 display: none;
 width:15px;
 height: 12px;
 border-radius: 16px;
 position: absolute;
 top:-2px;
 right: -5px;
 font-size: 0.6em;
 text-align: center;
}
.header_cart--notification:hover{
 cursor: pointer;
}
.header_icart{
 width:40px;
 height: 40px;
 justify-content: space-between;
 display: flex;
}
.header_icart:hover{
 cursor: pointer;
}
.header_avatar{
 border-radius: 5px;
 height: 40px;
 width: 40px;
 display: flex;
}
.header_avatar:hover{
 cursor: pointer;
 /*Igual es una ayuda visual el color del border de este*/
 border: 2px solid red;
 border-radius: 50% ;
}

#carrusel-inicio {
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 800px;
  height: 450px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Estilos para el footer */
.attribution {
	background-color: #f8f8f8;
	padding: 20px;
	text-align: center;
	font-size: 14px;
  }
  
  .attribution a {
	color: #333;
	text-decoration: none;
  }
  
  .attribution a:hover {
	text-decoration: underline;
  }
  
  .attribution p {
	margin-bottom: 10px;
  }
  
  .attribution strong {
	font-weight: bold;
  }
  
  .attribution .group-info {
	font-style: italic;
  }

.navbar-logo {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo:hover {
  cursor: pointer;
  border: 2px solid purple;
  border-radius: 5%;
}

.nav-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-link:hover {
  border-bottom: 4px solid purple;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 40px 10px;
}

.container-fluid {
  background-color: aliceblue;
}

.header_cart-avatar {
  display: none;
}

.header_cart {
  position: relative;
}

.header_cart--notification {
  display: none;
  width: 15px;
  height: 12px;
  border-radius: 16px;
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 0.6em;
  text-align: center;
}

.header_cart--notification:hover {
  cursor: pointer;
}

.header_icart {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header_icart:hover {
  cursor: pointer;
}

.header_avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_avatar:hover {
  cursor: pointer;
  border: 2px solid red;
}

body {
  background-color: #3A3B3C;
  color: white;
}

@media (min-width: 992px) {
  header {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header_cart-avatar {
    display: none;
  }
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
}